<div class="message <%= user_is_messages_author ? "right" : "" %>">
  <%#= image_tag message.user.avatar, class: "avatar" %>
  <div class="chat-avatars">
    <%# unless Message.last.user == Message.all[-2].user %>
    <%= image_tag("avatars/#{message.user.profiles.last.animal.downcase}.png") %>
    <%# end %>
  </div>
  <!-- If the message was created before the current date -->
  <% if Time.now.strftime("%j").to_i > message.created_at.strftime("%j").to_i %>
  <div class="message-content">
    <div class="chatroom-message-time">
      <%= message.created_at.strftime("%A %b %d %-I:%M%p").downcase %>
    </div>
    <span class="chatroom-message-text"><%= message.content %></span>
  </div>
  <% else %>
  <div class="message-content">
    <div class="chatroom-message-time">
      <%= message.created_at.strftime("%-I:%M%p").downcase %>
    </div>
    <span class="chatroom-message-text"><%= message.content %></span>
  </div>
  <% end %>
</div>
