
<%# content_for :meta_title, "#{@other_user.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<%# content_for :meta_description, @other_user.description %>
<%# content_for :meta_image, cl_image_path(@other_user.photo.path) %>
<style>
</style>

<%= render "shared/sidebar" %>
<div class="dashboard-body bodies">
  <div class="chat-container">
    <div class="chat-container-real">
      <div class="chatroom-messages-top-container">
        <div class="chat-header">

          <!-- BUTTON -->
          <div class="button-expand-medium">
            <i class="fas fa-plus"></i>
          </div>



          <!-- USERNAME -->
          <h4 class="chatroom-usernames"><%= @other_user.profiles.first.adjective.capitalize %> <%= @other_user.profiles.first.animal.capitalize %></h4>
          <h4 class="chatroom-usernames chatroom-username-hide"><%= current_user.profiles.first.adjective.capitalize %> <%= current_user.profiles.first.animal.capitalize %></h4>



          <!-- AVATAR - OTHER USER -->
          <div class="header-avatars-container hide">
            <%= image_tag("avatars/#{@other_user.profiles.last.animal.downcase}.png", class: "header-avatars") %>
            <%= image_tag("avatars/#{current_user.profiles.last.animal.downcase}.png", class: "header-avatars avatar-not-active") %>
          </div>

          <div class="header-questions hide">
            <p><%= @questions[0] %></p>
            <% if @other_user.d_answer_one === "" %>
            <h5>Has not answered question yet.</h5>
            <% else %>
            <h5><%= @other_user.d_answer_one[0..50] %></h5>
            <% end %>
            <% if current_user.d_answer_one === "" %>
            <h5 class="chat-hide">Has not answered question yet.</h5>
            <% else %>
            <h5 class="chat-hide"><%= current_user.d_answer_one[0..50] %></h5>
            <% end %>

            <p><%= @questions[1] %></p>
            <% if @other_user.d_answer_two === "" %>
            <h5>Has not answered question yet.</h5>
            <% else %>
            <h5><%= @other_user.d_answer_two[0..50] %></h5>
            <% end %>
            <% if current_user.d_answer_two === "" %>
            <h5 class="chat-hide">Has not answered question yet.</h5>
            <% else %>
            <h5 class="chat-hide"><%= current_user.d_answer_two[0..50] %></h5>
            <% end %>

            <p><%= @questions[2] %></p>
            <% if @other_user.d_answer_three === "" %>
            <h5>Has not answered question yet.</h5>
            <% else %>
            <h5><%= @other_user.d_answer_three[0..50] %></h5>
            <% end %>
            <% if current_user.d_answer_three === "" %>
            <h5 class="chat-hide">Has not answered question yet.</h5>
            <% else %>
            <h5 class="chat-hide"><%= current_user.d_answer_three[0..50] %></h5>
            <% end %>
          </div>

        </div><!-- EO .chat-header -->
      </div><!-- EO .chatroom-messages-top-container -->

      <div class="chatroom-messages-middle-container">
        <div class="messages">
          <% @messages.each do |message| %>
          <%= render "messages/message", message: message, user_is_messages_author: message.user == current_user %>
          <% end %>
        </div>
      </div>

      <div class="chatroom-messages-bottom-container">
        <div class="create-message">
          <%= simple_form_for [ @chatroom, Message.new ], remote: true, html: {autocomplete: "off" } do |f| %>
          <span id="theTextArea">
            <%= f.text_area :content, label: false, autofocus: false, placeholder: "Your message here", class: "chat-message-box" %>
          </span>
          <%= f.submit :submit, value: 'Send', class: "button-primary message-submit" %>
          <% end %>
        </div>
      </div>
    </div>
  </div><!-- EO .chat-container -->

  <% unless @other_rooms.empty? %>
    <div class="ongoing-slider-chatroom-container-title">
      <h2>Other conversations</h2>
    </div>
    <div class="ongoing-slider-chatroom-container">
      <i class="fas fa-caret-left fa-5x caret"></i>
      <div class="ongoing-slider ongoing-slider-chatroom">
        <!-- CARD-ONGOING: app/views/shared/_card_ongoing.html.erb -->
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <% @other_rooms.each do |chatroom| %>
            <div class="swiper-slide">
              <%= render "shared/card_ongoing", chatroom: chatroom %>
            </div>
            <% end %>
          </div>
          <br>
          <br>
        </div>
      </div>
      <i class="fas fa-caret-right fa-5x caret"></i>
      <div class="swiper-pagination swiper-pagination-black"></div>
    </div>
  <% end %>
  <% @other_rooms.each do |chatroom| %>
    <%= render "shared/modal_delete_chat", chatroom: chatroom %>
  <% end %>
  <%= render "shared/footer" %>

</div><!-- EO .dashboard-body .bodies -->

<% content_for :after_js do %>
<script>
  scrollLastMessageIntoView();
  App['chatroom_<%= @chatrooms.id %>'] = App.cable.subscriptions.create(
    { channel: 'ChatroomsChannel', chatroom_id: <%= @chatroom.id %> }, {
      received: (data) => {
        if (data.current_user_id !== <%= current_user.id %>) {
          const messagesContainer = document.querySelector('.messages');
          messagesContainer.insertAdjacentHTML('beforeend', data.message_partial);
          scrollLastMessageIntoView();
        }
      }
    }
    );
  </script>
  <% end %>



















