
<%# content_for :meta_title, "#{@other_user.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<%# content_for :meta_description, @other_user.description %>
<%# content_for :meta_image, cl_image_path(@other_user.photo.path) %>


<div class="chatroom d-flex justify-content-between">
  <%= render "shared/sidebar" %>
  <div class="chat-container">

    <div class="chat-body bodies">
      <div class="chat-header">
        <% if current_user == @chatroom.match.user %>
            <h4>Your chat with <%= @chatrooms.match.partner.profiles.first.adjective.capitalize %> <%= @chatrooms.match.partner.profiles.first.animal.capitalize %></h4>
        <% else %>
          <h4>Your chat with <%= @chatrooms.match.user.profiles.first.adjective.capitalize %> <%= @chatrooms.match.user.profiles.first.animal.capitalize %></h4>
        <% end %>
      </div>
      <div class="messages">
        <% @messages.each do |message| %>
          <%= render "messages/message", message: message, user_is_messages_author: message.user == current_user %>
        <% end %>
      </div>
      <div class="create-message">
        <%= simple_form_for [ @chatroom, Message.new ], remote: true, html: {autocomplete: "off" } do |f| %>
          <%= f.text_area :content, label: false %>
          <%= f.submit :submit, value: 'Send', class: "message-submit" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for :after_js do %>
  <script>
      scrollLastMessageIntoView();
      App['chatroom_<%= @chatrooms.id %>'] = App.cable.subscriptions.create(
        { channel: 'ChatroomsChannel', chatroom_id: <%= @chatroom.id %> }, {
          received: (data) => {
            console.log(data);
                if (data.current_user_id !== <%= current_user.id %>) {
                const messagesContainer = document.querySelector('.messages');
                console.log(messagesContainer);
                messagesContainer.insertAdjacentHTML('beforeend', data.message_partial);
              scrollLastMessageIntoView();
            }
          }
        }
      );
    </script>
<% end %>



















