
<%# content_for :meta_title, "#{@other_user.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<%# content_for :meta_description, @other_user.description %>
<%# content_for :meta_image, cl_image_path(@other_user.photo.path) %>
<%= render "shared/sidebar" %>
<div class="dashboard-body bodies">
  <div class="chat-container">
    <div class="chat-container-real">
      <div class="chatroom-messages-top-container">
        <div class="chat-header">

          <!-- BUTTON -->
          <div class="button-expand-medium">
            <i class="fas fa-plus"></i>
          </div>

          <!-- USERNAME -->
          <% if current_user == @chatroom.match.user %>
          <h4><%= @chatrooms.match.partner.profiles.first.adjective.capitalize %> <%= @chatrooms.match.partner.profiles.first.animal.capitalize %></h4>
          <% else %>
          <h4>Your chat with <%= @chatrooms.match.user.profiles.first.adjective.capitalize %> <%= @chatrooms.match.user.profiles.first.animal.capitalize %></h4>
          <% end %>

          <!-- AVATAR -->
          <div class="avatar-medium hide">
            <%= image_tag("avatars/#{@chatroom.match.partner.profiles.last.animal.downcase}.png") %>
          </div>

          <div class="header-questions hide">
            <p><%= @questions[0] %></p>
            <h5><%= @chatroom.match.partner.d_answer_one %>Not real answer</h5>
            <p><%= @questions[1] %></p>
            <h5><%= @chatroom.match.partner.d_answer_two %>Not real answer</h5>
            <p><%= @questions[2] %></p>
            <h5><%= @chatroom.match.partner.d_answer_three %>Not real answer</h5>
          </div>

        </div><!-- EO .chat-header -->
      </div><!-- EO .chatroom-messages-top-container -->

      <div class="chatroom-messages-middle-container">
        <div class="messages">
          <% @messages.each do |message| %>
          <%= render "messages/message", message: message, user_is_messages_author: message.user == current_user %>
          <% end %>
        </div>
      </div>

      <div class="chatroom-messages-bottom-container">
        <div class="create-message">
          <%= simple_form_for [ @chatroom, Message.new ], remote: true, html: {autocomplete: "off" } do |f| %>
          <span id="theTextArea">
            <%= f.text_area :content, label: false, placeholder: "Your message here", class: "chat-message-box" %>
          </span>
          <%= f.submit :submit, value: 'Send', class: "button-primary message-submit" %>
          <% end %>
        </div>
      </div>
    </div>

    <!-- ONGOING CHATS -->
    <div class="chatroom-ongoing-chats-container">
      <h2>Other conversations</h2>
      <div class="chatroom-ongoing-chats-cards">
        <% @rooms.each do |chatroom| %>
        <%= render "shared/card_ongoing", chatroom: chatroom %>
        <% end %>
      </div>
    </div>

  </div><!-- EO .chat-container -->
  <%= render "shared/footer" %>
</div><!-- EO .dashboard-body .bodies -->

<% content_for :after_js do %>
<script>
  scrollLastMessageIntoView();
  App['chatroom_<%= @chatrooms.id %>'] = App.cable.subscriptions.create(
    { channel: 'ChatroomsChannel', chatroom_id: <%= @chatroom.id %> }, {
      received: (data) => {
        console.log(data);
        if (data.current_user_id !== <%= current_user.id %>) {
          const messagesContainer = document.querySelector('.messages');
          console.log(messagesContainer);
          messagesContainer.insertAdjacentHTML('beforeend', data.message_partial);
          scrollLastMessageIntoView();
        }
      }
    }
    );
  </script>
  <% end %>



















