<div class="ongoing-container">
  <h1>Ongoing conversations</h1>

  <!-- SEARCH: app/views/shared/_search.html.erb -->
  <%= render "shared/search" %>

  <div class="ongoing-slider">
    <!-- CARD-ONGOING: app/views/shared/_card_ongoing.html.erb -->
    <%= render "shared/card_ongoing" %>
    <%= render "shared/card_ongoing" %>
    <%= render "shared/card_ongoing" %>
    <%= render "shared/card_ongoing" %>
    <%= render "shared/card_ongoing" %>
    <%= render "shared/card_ongoing" %>
    <%= render "shared/card_ongoing" %>
    <%= render "shared/card_ongoing" %>
    <%= render "shared/card_ongoing" %>
  </div>
</div>
