<div class="question-header-container">

  <div class="question-box">
    <div class="question-box-icons">
      <div class="icon-back">
        <% if @user.d_answer_one != "" && @user.d_answer_two != "" && @user.d_answer_three != "" %>
          <%= link_to user_path(@user) do %>
            <%= simple_form_for @user do |f| %>
              <%= f.hidden_field :daily_reset, value: "reset", input_html: { id: "question-box-input" } %>
              <%= f.button :button do %>
                <i class="far fa-arrow-alt-circle-left fa-2x reset-answers"></i>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="icon-info">
        <i class="fas fa-info-circle" data-toggle="modal" data-target="#modal-info"></i>
      </div>
    </div>
    <h1>
      <% if @user.d_answer_one.empty? %>
        <h4>Daily Question 1/3</h4> <h1><%= @questions[0] %></h1>
      <% elsif @user.d_answer_two.empty? && @user.d_answer_one != "" %>
        <h4>Daily Question 2/3</h4> <h1><%= @questions[1] %></h1>
      <% elsif @user.d_answer_three.empty? && @user.d_answer_two != "" %>
        <h4>Daily Question 3/3</h4> <h1><%= @questions[2] %></h1>
      <% else %>
          <br>
          <br>
         <h3>Daily Questions Answered 😃</h3>
      <% end %>
    </h1>
      <%= simple_form_for @user, input_html: { id: "daily-question-form" } do |f| %>
        <% if @user.d_answer_one == "" %>
          <span class="d-answer-input">
            <%= f.input :d_answer_one, label: false, input_html: { id: "d-input", autocomplete: 'off' } %>
            <%= f.hidden_field :dailyanswerone, value: true %>
            <%= button_tag type: 'submit', class: "d_answer_submit" do %>
                  <i class="fas fa-caret-right fa-2x"></i>
            <% end %>
          </span>
        <% elsif @user.d_answer_two == "" && @user.d_answer_one != "" %>
          <span class="d-answer-input">
            <%= f.input :d_answer_two, label: false, input_html: { id: "d-input", autocomplete: 'off' } %>
            <%= f.hidden_field :dailyanswertwo, value: true %>
            <%= button_tag type: 'submit', class: "d_answer_submit" do %>
                  <i class="fas fa-caret-right fa-2x"></i>
            <% end %>
          </span>
        <% elsif @user.d_answer_three == "" && @user.d_answer_two != "" %>
          <span class="d-answer-input">
            <%= f.input :d_answer_three, label: false, input_html: { id: "d-input", autocomplete: 'off' } %>
            <%= f.hidden_field :dailyanswerthree, value: true %>
            <%= button_tag type: 'submit', class: "d_answer_submit" do %>
                  <i class="fas fa-caret-right fa-2x"></i>
            <% end %>
          </span>
        <% else %>
        <% end %>
      <% end %>
      <div class="new-chat-questionbox">
        <%= link_to new_chat_path(id: current_user.id) do %>
          <button class="button-secondary">Chat now!</button>
        <% end %>
      </div>
  </div>
</div>
