<div class="question-header-container">
  <div class="question-box">
    <div class="question-box-icons">
      <div class="icon-back">
        <i class="far fa-arrow-alt-circle-left"></i>
      </div>
      <div class="icon-info">
        <i class="fas fa-info-circle" data-toggle="modal" data-target="#modal-info"></i>
      </div>
    </div>
    <h1>
      <% if @user.d_answer_one.empty? %>
        <p>1. <%= @questions[0] %></p>
      <% elsif @user.d_answer_two.empty? && @user.d_answer_one != "" %>
        <p>2. <%= @questions[1] %></p>
      <% elsif @user.d_answer_three.empty? && @user.d_answer_two != "" %>
        <p>3. <%= @questions[2] %></p>
      <% else %>
         <h3>Daily Questions Answered 😃</h3>
      <% end %>
    </h1>
<!--     <h4>Question 3/3</h4> -->
      <%= simple_form_for @user do |f| %>
        <% if @user.d_answer_one == "" %>
          <%= f.input :d_answer_one %>
        <% elsif @user.d_answer_two == "" && @user.d_answer_one != "" %>
          <%= f.input :d_answer_two %>
        <% elsif @user.d_answer_three == "" && @user.d_answer_two != "" %>
          <%= f.input :d_answer_three %>
        <% else %>
          <%#= link_to "Start a new Chat", new_chat_path(id: current_user.id) %>
        <% end %>
      <% end %>
  </div>
</div>
