<div class="topbar">
  <div class="toggleSearching">
    <h1>
      <%= @user.profiles.last.adjective.capitalize %> <%= @user.profiles.last.animal %>
    </h1>
    <div class="toggleswitch">
      <p class="toggle-text" style="color: #D29393;">Unvailable</p>
      <p class="toggle-text text-hide" style="color: #2193b0;">Available</p>
      <label class="switch">
        <input class="checkbox" type="checkbox" <%= "checked" if @user.searching %> data-searching="<%= @user.searching %>">
        <span class="slider round"></span>
      </label>
    </div>
  </div>
  <div class="topbar-info">
    <p><strong><%= @matches.count %></strong> ongoing conversations</p>
    <% if @user.d_answer_one.empty? %>
      <p>You have <strong>not</strong> answered today's questions</p>
    <% elsif @user.d_answer_two.empty? %>
      <p> You have answered <strong>1</strong> question today </p>
    <% elsif @user.d_answer_three.empty? %>
      <p> You have answered <strong>2</strong> question today </p>
    <% else %>
      <p> You have answered <strong>All</strong> question today! 😁 </p>
    <% end %>
    <p>
      <% if @user.journal.posts.first %>
        <% if @user.journal.posts.reverse.first.created_at.strftime("%j").to_i == Time.now.strftime("%j").to_i %>
            You've posted a journal entry today!
        <% else %>
            <strong><%= Time.now.strftime("%j").to_i - @user.journal.posts.reverse.first.created_at.strftime("%j").to_i %></strong> day(s) since your last journal post
        <% end %>
      <% else %>
        Make a new journal entry...
      <% end %>
    </p>
  </div>
</div>



<script>
  slider = document.querySelector(".slider");
  available = document.querySelectorAll(".toggle-text");
  checkbox = document.querySelector(".checkbox");
  railsToken = document.querySelector("meta[name=csrf-token]").content
  checkbox.addEventListener("click", (event) => {
    // console.log("text");
    if (document.querySelector(".checkbox").dataset.searching == "true") {
      url = "/toggle_search?searching=false"
      fetch(url, {
        method: "PATCH",
        headers: {
          "X-CSRF-Token": railsToken
        }
      })
    } else {
        url = "/toggle_search?searching=true"
        fetch(url, {
          method: "PATCH",
          headers: {
            "X-CSRF-Token": railsToken
          }
      })
    }
  });

  if (document.querySelector(".checkbox").dataset.searching == "true") {
    for (let i = 0; i < available.length; i++) {
      available[1].classList.remove("text-hide");
      available[0].classList.add("text-hide");
    };
  } else {
    for (let i = 0; i < available.length; i++) {
      available[0].classList.remove("text-hide");
      available[1].classList.add("text-hide");
    };
  }


  checkbox.addEventListener("click", (event) => {
    for (let i = 0; i < available.length; i++) {
      available[i].classList.toggle("text-hide");
    };
  });




</script>


<!--
var chatHeaderH4 = document.querySelectorAll(".chat-header h4"), i;
for (let i = 0; i < chatHeaderH4.length; i++) {
  chatHeaderH4[i].classList.toggle("move-h4");
};
 -->








