<div class="topbar">
  <div class="toggleSearching">
    <h1>
      <%= @user.profiles.last.adjective.capitalize %> <%= @user.profiles.last.animal %>
    </h1>
    <div class="togglebutton">
      <% if @user.searching %>
        <%= simple_form_for @user, input_html: { id: "toggle-user-seraching" } do |f| %>
          <%= f.hidden_field :searching, value: false %>
          <%= button_tag type: 'submit', class: "topbar-toggle-search" do %>
            <i class="fas fa-circle fa-1x toggle-off"></i>
          <% end %>
        <% end %>
        <p class="search-toggle-off">Active</p>
      <% else %>
        <%= simple_form_for @user, input_html: { id: "toggle-user-seraching" } do |f| %>
          <%= f.hidden_field :searching, value: true %>
          <%= button_tag type: 'submit', class: "topbar-toggle-search" do %>
            <i class="fas fa-circle fa-1x toggle-on"></i>
          <% end %>
        <% end %>
        <p class="search-toggle-on">Busy</p>
      <% end %>
    </div>
  </div>
  <div class="topbar-info">
    <p><strong><%= @matches.count %></strong> ongoing conversations</p>
    <p><strong>Not</strong> answered todays questions</p>
    <p><strong>2</strong> days since last journal entry</p>
  </div>
</div>
