<div class="topbar">
  <div class="toggleSearching">
    <h1>
      <%= @user.profiles.last.adjective.capitalize %> <%= @user.profiles.last.animal %>
    </h1>
    <div class="togglebutton">
      <% if @user.searching %>
        <%= simple_form_for @user, input_html: { id: "toggle-user-seraching" } do |f| %>
          <%= f.hidden_field :searching, value: false %>
          <%= button_tag type: 'submit', class: "topbar-toggle-search" do %>
            <i class="fas fa-circle fa-xs toggle-off"></i>
          <% end %>
        <% end %>
        <p class="search-toggle-off">Active</p>
      <% else %>
        <%= simple_form_for @user, input_html: { id: "toggle-user-seraching" } do |f| %>
          <%= f.hidden_field :searching, value: true %>
          <%= button_tag type: 'submit', class: "topbar-toggle-search" do %>
            <i class="fas fa-circle fa-xs toggle-on"></i>
          <% end %>
        <% end %>
        <p class="search-toggle-on">Busy</p>
      <% end %>
    </div>
  </div>
  <div class="topbar-info">
    <p><strong><%= @matches.count %></strong> ongoing conversations</p>
    <% if @user.d_answer_one.empty? %>
      <p>You have <strong>not</strong> answered today's questions</p>
    <% elsif @user.d_answer_two.empty? %>
      <p> You have answered <strong>1</strong> question today </p>
    <% elsif @user.d_answer_three.empty? %>
      <p> You have answered <strong>2</strong> question today </p>
    <% else %>
      <p> You have answered <strong>All</strong> question today! 😁 </p>
    <% end %>
    <p>
      <% if @user.journal.posts.reverse.first.created_at.strftime("%j").to_i == Time.now.strftime("%j").to_i %>
          You've posted a journal entry today!
      <% else %>
          <strong><%= Time.now.strftime("%j").to_i - @user.journal.posts.reverse.first.created_at.strftime("%j").to_i %></strong> day(s) since your last journal post
      <% end %>
    </p>
  </div>
</div>
