<%= render "shared/sidebar" %>

<div class="dashboard-body bodies">
  <%= render "topbar" %>
  <div class="ongoing-cards-container">
    <h1>Ongoing conversations:</h1>
    <%= render "shared/search" %>

    <div class="ongoing-cards-body">
      <% @chatrooms.each do |chatroom| %>
        <%= render "shared/card_ongoing", chatroom: chatroom %>
        <%= render "shared/modal_delete_chat", chatroom: chatroom %>
      <% end %>
    </div><!-- EO .ongoing-cards-body -->

  </div><!-- EO .ongoing-cards-container -->
  <%= render "shared/footer" %>
</div>
