<style>
</style>

<script></script>


<div class="dashboard-container">

  <!-- SIDEBAR: app/views/users/_sidebar.html.erb -->
  <%= render "shared/sidebar" %>

  <!-- BODY -->
  <div class="dashboard-body bodies">
    <!-- TOPBAR: app/views/users/_topbar.html.erb -->
    <%= render "topbar" %>
    <!-- QUESTION-HEADER: app/views/users/_questionbox.html.erb -->
    <%= render "questionbox" %>
    <!-- link to new chat -->
    <div class="new-chat-questionbox">
      <%= link_to new_chat_path(id: current_user.id) do %>
        <button class="button-primary big-chat"> Chat now ! </button>
      <% end %>
    </div>
    <!-- ONGOING: app/views/users/_ongoing.html.erb -->
    <%= render "ongoing" %>
    <!-- JOURNAL: app/views/users/_journal.html.erb -->
    <%= render "journal" %>

    <% @chatrooms.each do |chatroom| %>
      <%= render "shared/modal_delete_chat", chatroom: chatroom %>
    <% end %>

    <div class="text-container">
      <h1>Talk to someone</h1>
      <p>There are currently <strong><%= @user_count %></strong> people online. I bet they all would like to talk to you!<br>Start a new chat and see what a new conversation can bring you.</p>
    </div> <!-- End of .text-container -->

    <%= render "shared/footer" %>

  </div> <!-- End of .dashboard-body -->

</div> <!-- End of .dashboard-container -->
