<style>
  .text-container {
    padding: 100px;
    text-align: center;
  }

  .text-container p {
    margin: 30px;
  }
</style>

<script></script>

<div class="dashboard-container">

  <!-- SIDEBAR: app/views/users/_sidebar.html.erb -->
  <%= render "shared/sidebar" %>

  <!-- BODY -->
  <div class="dashboard-body">
    <!-- TOPBAR: app/views/users/_topbar.html.erb -->
    <%= render "topbar" %>
    <!-- QUESTION-HEADER: app/views/users/_questionbox.html.erb -->
    <%= render "questionbox" %>
    <!-- ONGOING: app/views/users/_ongoing.html.erb -->
    <%= render "ongoing" %>
    <!-- JOURNAL: app/views/users/_journal.html.erb -->
    <%= render "journal" %>

    <div class="text-container">
      <h1>Talk to someone</h1>
      <p>There are currently 437 people online. I bet they all would like to talk to you! Start a new chat and see what a new conversation can bring you.</p>
      <button class="button-primary">Start new chat</button>
    </div> <!-- End of .text-container -->

    <%= render "shared/footer" %>

  </div> <!-- End of .dashboard-body -->

</div> <!-- End of .dashboard-container -->
