<div class="forgot-container">
  <img src="https://res.cloudinary.com/db3hrutzq/image/upload/v1563898761/Compassion%20images/Rhino_cn0xve.png" alt="n/a">
  <div class="back-btn">
    <%= link_to root_path do %>
      <i class="fas fa-arrow-left">  Back</i>
    <% end %>
  </div>
  <div class="forgot-form">
    <h2>Forgot your password?</h2>
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
      </div>
      <br>
      <div class="form-actions">
        <%= f.button :submit, "Send reset password instructions", class: "forgot-btn" %>
      </div>
    <% end %>
    <br>
    <%= render "devise/shared/links" %>
  </div>
</div>
