<div class="ongoing-card">
  <%= link_to chatroom_path(chatroom.id) do %>
  <div class="ongoing-card-top">
    <div class="avatar-medium">
      <%= image_tag("avatars/#{chatroom.match.partner.profiles.last.animal.downcase}.png") %>
    </div>
  </div>
  <% end %>
  <div class="ongoing-card-middle">
    <div class="user-id">
      <p>#<%= chatroom.match.partner.id %></p>
    </div>
    <h2>
      <%= chatroom.match.partner.profiles.last.adjective %>
      <%= chatroom.match.partner.profiles.last.animal %>
    </h2>
    <p>Started conversation <%= chatroom.created_at.strftime("%x") %></p>
  </div>
  <div class="ongoing-card-bottom">
    <%= link_to "Continue", chatroom_path(chatroom.id), class: "button-primary" %>
    <%= link_to "End", chatroom, class: "button-secondary", method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>
