<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="ongoing-card ongoing-landing">
            <div class="ongoing-card-top">
              <div class="avatar-medium">
                <%= image_tag("avatars/dog.png") %>
              </div>
            </div>
            <div class="ongoing-card-middle">
              <div class="user-id">
                <p>#5</p>
              </div>
              <h2>
                Dilligent Dog
              </h2>
              <p>Started conversation 1 day ago</p>
            </div>
            <div class="ongoing-card-bottom">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="ongoing-card ongoing-landing">
            <div class="ongoing-card-top">
              <div class="avatar-medium">
                <%= image_tag("avatars/elephant.png") %>
              </div>
            </div>
            <div class="ongoing-card-middle">
              <div class="user-id">
                <p>#19</p>
              </div>
              <h2>
                Emphatic Elephant
              </h2>
              <p>Started conversation an hour ago</p>
            </div>
            <div class="ongoing-card-bottom">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="ongoing-card ongoing-landing">
            <div class="ongoing-card-top">
              <div class="avatar-medium">
                <%= image_tag("avatars/ferret.png") %>
              </div>
            </div>
            <div class="ongoing-card-middle">
              <div class="user-id">
                <p>#42</p>
              </div>
              <h2>
                Fantastic Ferret
              </h2>
              <p>Started conversation 5 days ago</p>
            </div>
            <div class="ongoing-card-bottom">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="ongoing-card ongoing-landing">
            <div class="ongoing-card-top">
              <div class="avatar-medium">
                <%= image_tag("avatars/lemur.png") %>
              </div>
            </div>
            <div class="ongoing-card-middle">
              <div class="user-id">
                <p>#104</p>
              </div>
              <h2>
                Lovely Lemur
              </h2>
              <p>Started conversation 10 days ago</p>
            </div>
            <div class="ongoing-card-bottom">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="ongoing-card ongoing-landing">
            <div class="ongoing-card-top">
              <div class="avatar-medium">
                <%= image_tag("avatars/sheep.png") %>
              </div>
            </div>
            <div class="ongoing-card-middle">
              <div class="user-id">
                <p>#51</p>
              </div>
              <h2>
                Sincere Sheep
              </h2>
              <p>Started conversation 4 hours ago</p>
            </div>
            <div class="ongoing-card-bottom">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="ongoing-card ongoing-landing">
            <div class="ongoing-card-top">
              <div class="avatar-medium">
                <%= image_tag("avatars/penguin.png") %>
              </div>
            </div>
            <div class="ongoing-card-middle">
              <div class="user-id">
                <p>#22</p>
              </div>
              <h2>
                Pensive Penguin
              </h2>
              <p>Started conversation 2 days ago</p>
            </div>
            <div class="ongoing-card-bottom">
            </div>
          </div>
        </div>
    </div>
    <br>
    <br>

    <!-- If we need pagination -->
    <div class="swiper-pagination swiper-pagination-black "></div>

    <!-- If we need navigation buttons -->
<!--     <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div> -->

    <!-- If we need scrollbar -->
<!--     <div class="swiper-scrollbar"></div> -->
</div>










