<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="navbar-logo">
    <%= link_to root_path do %>
      <%= image_tag "https://res.cloudinary.com/db3hrutzq/image/upload/v1563905600/olive-branch_jzqmtu.png" %>
      <h3>Compassion</h3>
    <% end %>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <% if current_user.profiles.last.nil? %>
          <div class="uselessredirect">
            <p>Click me! <i class="fas fa-long-arrow-alt-right"></i></p>
          </div>
        <% else %>
          <li class="nav-item active">
            <%= link_to "Dashboard", user_path(current_user), class: "nav-link button-default-transparent" %>
        <% end %>
        </li>
        <li class="nav-item dropdown">
          <% if current_user.profiles.last.nil? %>
            <%= link_to profile_choose_path(current_user) do %>
              <%= image_tag "avatars/bear.png", class: "avatar dropdown-toggle" %>
            <% end %>
          <% else %>
            <%= image_tag "avatars/#{@user.profiles.last.animal.downcase}.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "User Settings", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          <% end %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link button-default-transparent login-button" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
