
<div class="new-chat-content-container">
  <h2>New Chat</h2>
  <div class="new-chat-content-body">
    <%= simple_form_for @user do |f| %>
      <h6>Question <span>#1</span></h6>
      <p><%= @questions[0] %></p>
      <%= f.input :d_answer_one, label: false %>
      <h6>Question <span>#2</span></h6>
      <p><%= @questions[1] %></p>
      <%= f.input :d_answer_two, label: false %>
      <h6>Question <span>#3</span></h6>
      <p><%= @questions[2] %></p>
      <%= f.input :d_answer_three, label: false %>
      <%= f.submit :submit, style: "display: none;"%>
    <% end %>
    <%= link_to new_chat_path(id: current_user.id) do %>
        <button class="button-default-transparent">Start new chat</button>
    <% end %>
  </div>
</div>
