<%= render 'shared/navbar' %>
<div class="home-container">
  <div class="landing">
    <div class="welcome-card">
      <h2>Welcome to Compassion</h2>
      <br>
      <p>Here you can meet other people and talk about your everyday life. You will anonymously be able to connect with people all around the world and talk about whatever you like.</p>
      <br>
      <% unless current_user %>
        <div class="login-signup">
          <%= link_to new_user_session_path do %>
            <button class="button-primary">Login</button>
          <% end %>
          <%= link_to new_user_registration_path do %>
            <button class="button-secondary">Signup</button>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>


  <div class="landing-about">
    <div class="about-top">
      <h2>What we offer</h2>
      <p>Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle.</p>
    </div>
    <div class="about-cards">
      <div class="about-card">
        <i class="far fa-comments fa-3x"></i>
        <br>
        <h4>Conversate</h4>
        <p>By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside.</p>
      </div>
      <div class="about-card">
        <i class="far fa-comment-alt fa-3x"></i>
        <br>
        <h4>Jump right back in</h4>
        <p>By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside.</p>
      </div>
      <div class="about-card">
        <i class="fas fa-book fa-3x"></i>
        <br>
        <h4>Keep a journal</h4>
        <p>By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside.</p>
      </div>
    </div>
  </div>

  <div class="landing-questions">
    <div class="question-about">
      <h3>Get the Conversation Going</h3>
      <br>
      <p>We’ll help you get the conversation going by asking three questions each day. These answers will serve as the initial… lorem ipsum</p>
      <%= link_to new_user_registration_path do %>
        <button class="landing-signup">Signup</button>
      <% end %>
    </div>
    <div class="question-card">
      <span class="question-icon">
        <i class="fas fa-reply fa-lg"></i>
        <i class="far fa-question-circle fa-lg"></i>
      </span>
      <h3>What is your favorite season of the year?</h3>
      <p>Question 3/3</p>
      <%= render 'form' %>
      <br>
      <button disabled class="home-newchat">Start new chat</button>
    </div>
  </div>

  <div class="homepage-users">
    <div class="home-user-top">
      <h4>Jump right back in where you left off!</h4>
    </div>
    <br><br>
    <div class="home-user-bottom">
      <div class="home-user-cards">
        <i class="fas fa-caret-left fa-5x caret"></i>
        <%= render 'shared/card_ongoing_landing' %>
        <i class="fas fa-caret-right fa-5x caret"></i>
      </div>

    </div>
    <br><br>
<!--     <div style="text-align:center">
      <span class="dot" onclick=""></span>
      <span class="dot" onclick=""></span>
      <span class="dot" onclick=""></span>
    </div> -->
  </div>

</div>
<%= render 'shared/footer' %>




















