<%= render "shared/sidebar" %>
<div style="min-height: 100vh;"class="dashboard-body">
  <div class="white-box-header">
    <h4>Your Journal</h4>
  </div>
  <div class="post-index-container">
    <div class="new-post-container">
      <%= render "new_post" %>
    </div>
    <div>
      <h4>Previous Posts</h4>
    </div>
      <div class="journal-container-index">
      <% unless current_user.journal.posts.empty? %>
        <% @posts.reverse.each do |post| %>
          <%= render "shared/modal_delete", post: post %>
          <div class="latest-journal-entries-card-index">
            <div class="latest-journal-entries-index">
              <h5>
                <%= post.title %>
              </h5>
              <p class="latest-journal-entries-date-index">
                <%= post.created_at.strftime("%x %-I:%M %p") %>
              </p>
              <p class="latest-journal-entries-text-index">
                <%= post.content.truncate(50) %>
              </p>
            </div>
            <div id="post-btn-container">
              <%= link_to journal_post_path(post.journal.id, post.id) do %>
                <button class="button-primary-bordered">Read</button>
              <% end %>
              <button class="button-secondary" data-toggle="modal" data-target="#modal-delete">Delete</button>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<%= render "shared/footer" %>
</div>

