<style>

  .journal-parent-container {
    display: flex;
    flex-direction: column;
    justify-content: center;      

  }
  
  .journal-container-index {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #F7F7F7;
    padding: 50px;
    padding-left: 80px;

    /*margin-top: 100px;*/
  }

  .latest-journal-entries-card-index {
    margin-left: 70px;
    margin-right: 0px;
    margin-top:;
    margin-bottom: 20px;
    padding: 20px;
    width: 75%;
    box-shadow: 1px 1px 1px 1px gray;
    border-radius: 12px;
    background-color: #F7F7F7;
    /*background: radial-gradient(#9fd4a0, #7db37f);*/
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    max-width: 650px;
  }

  .latest-journal-entries-index {
    width: 100%;
    border-bottom: solid 1px #ddd;
  }


  .latest-journal-entries-date-index {
    color: black;
    font-weight: bold;
    margin-top: 2.5px;
    margin-bottom: 0px;
  }

  .latest-journal-entries-text-index {
    color: #333;
    margin-top: 10px;
    width: 100%;
    border-bottom: solid 1px #ddd;
  }

  .button-secondary-journal-index {
  width: 100%;
  height: 40px;
  background: #D29393;
  color: white;
  border-radius: 10px;
  outline: none;
  border: none;
  transition: background .25s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-new-post {
  width: 50%;
  height: 40px;
  background: gray;
  color: white;
  border-radius: 10px;
  outline: none;
  border: none;
  transition: background .25s;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* @media queries here */
/* @media queries here */
/* @media queries here */
/* @media queries here */

</style>


<%= render "shared/sidebar" %>
<div class="journal-parent-container">
  <div class="journal-container-index">
    <% @posts.reverse.each do |post| %>
      <div class="latest-journal-entries-card-index">
        <div class="latest-journal-entries-index">
          <h5>
            <%= post.title %>
          </h5>
          <p class="latest-journal-entries-date-index">
            <%= post.created_at %>
          </p>
          <p class="latest-journal-entries-text-index">
            <%= post.content %>
          </p>
        </div>
        <%= link_to journal_post_path(post.journal.id, post.id) do %>
          <button class="button-secondary-journal-index">Read</button>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= link_to new_journal_post_path do %>
    <button class="button-new-post">New Post</button>
  <% end %>
</div>

<%= render "shared/footer" %>
